
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Italianno&display=swap');.top{
   
  $blu:#4df9ff ; 
  
 display: flex; 
  background: #4df9ff;
  width: 100%;
  height: 150px;

body{
  h3{
    font-family: 'Italianno', cursive; 
  font-weight: bold ;
  color:#4df9ff ;
  font-size: 58px;
}
h4{
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 33px;
}
}
  
  
  img{
    width: 266px;
    height: 120px;
  float: left;
  margin-top: -17px;  
  margin-left: 40%;

  }
  ul{text-decoration: none;
    padding-left: 140px;
    margin-top: 20px;
    border-radius: 10px;
    li{
      
      margin: 5px;
      list-style: none;
      display: inline;
      font-weight: bold;
      background: rgb(187, 187, 187);
      padding: 10px;
      border-radius: 10px;
      color: white;
  &:hover{
    background: gray;
    color: white;
  }
      
      
    }
  }
   
}
.main1{
  display: flex;
  margin-bottom: -30px;
  margin-top: 10px;
  .left{
    ul{margin-left: 70px;
      margin-top: 8px;
      li{
        list-style: none;
        display: inline;
        margin: 4px;
        a{
          text-decoration: none;
          color: white;
         }
        
      }
    }
  }
}
.second{
  margin-top: -30px;
  ul{margin-left: -50px;
    li{
      list-style: none;
      display: inline;
      margin: 10px;
      padding: 10px;
      
      font-weight: bold;
     
      .pic{
      
        margin-bottom: 5px;
        padding-left: 10px;
        width: 30px;
        height: auto;
      }
      
    }
  }
}
.d-flex{
  width: 400px;
  margin-top: 10px;
  margin-bottom: -32px;
  margin-left: 100px;
  .src1{
    margin-top: -5px;
  }
  .butn1{
    margin-top: -5px;
  }
  .form-control{
    border: 1px solid rgb(182, 180, 180);
    width: 900px;
    height:34px;
    margin-left: 15px;
    
    &:hover{
      border: 2px solid rgb(155, 153, 153);
    }
  }

  .btn{
    a{
      text-decoration: none;
      color: white;
     }
    
    margin-left: 5px;

    border: 0px;
    background:#3593BB ;
    color: white;
  
    &:hover{
      background:#2f81a5 ;
    }
  }
}


.container{
  .imgleft{
    width: 120.9%;
    margin-left: -116px;
  }
} 


/*--------------------------------*/
.cont{
  display: flex;
  margin-left: 15%;
  margin-top: -20px;
  .lastbox{
    border-right: 0px;
    background:#4df9ff;
  }
  

  .box{
   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 190px;
    height: 82px;
    .d-flex{
      width: 180px;
      height: 80px;
      margin: 4.3px;
      margin-top: 18px;
      
      .form-control{
        border: 0px;
      }
      .sch{
        width: 100%;
        margin-right: 20px;
      }
    }

  }
}

.nav-link{
  
    margin-top: 32px;
    margin-left: -75px;
  
}
.date{
  margin-top: 30px;
}
.btn{
  margin-top:25px;
  width: 100%;
}
/*------------------------------------------------------------*/

.Slideritem{position: relative;
  width: 275px;
  height: 423px;
  border: 0px solid black;
  object-fit: cover;
  margin-left: 27px;
  margin-top: 70px;
  border-radius: 30px;
  background: #edf0f1;
  .mini{
    width: 100%;
    height: 188px;
    border: 0px solid red;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    a{
      text-decoration: none;
      color: black;
    }
    img{
      width: 100%;
      height: 100%;
      border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-bottom: 10px;
    
    }
  }
  .under{
    width: 100%;
    border: 0px solid black;
    height: 46.5px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background:#4df9ff ;
    position: absolute;bottom: -15.9px;

  }
  .des{
    font-size: 12px;
  }
}
/*----------------------------------------------*/
.slidersecond{
  margin-top: 70px;
  h3{
    font-family: 'Italianno', cursive; 
  font-weight: bold ;
  color:#4df9ff ;
  font-size: 58px;
}
h4{
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 33px;
}

.conte{
  display: grid;  grid-template-areas:'a b c' 'a d e' 'a f e'  ;
padding: 100px;
margin-left: 21px;
margin-top: -80px;
}
.a{grid-area: a; width: 359px; }
.b{grid-area: b;}
.c{grid-area: c;}
.d{grid-area: d;}
.e{grid-area: e;width: 359px;}
.f{grid-area: f;}
.b,.c,.f,.d{
  width: 359px;
  height: 307px;
}



.boc{position: relative;
  border: 0px solid black;
  margin: 10px;
  border-radius: 20px;
  a{
    text-decoration: none;
  }
  
 img{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
    
 }
  &:hover{
    .miniboc{
      visibility: visible;
     transition: 0.5s;
      width: 100%;
      height: 150px;

      
    }
  } .one{
    opacity: 0.4;
    background:black ;
  }
    .miniboc{
    width: 100%;
    height: 0px;
    
    position: absolute; bottom: 0px;
    border: 0px solid rgb(70, 69, 69);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    visibility: hidden;
   h3{margin-top: 10px;
    font-size: 36px;
   }
   p{margin-top: -10px;
    color: white;
   }
   h5{margin-top: -10px;
    color: white;
   }

   
  }
 
}



}
/*-------------------------------------*/

.slider3{
  width: 100%;
  height: auto;
  background:#41ccd1  ;
  padding-top: 20px;
  .head{
    font-family: 'Italianno', cursive; 
  font-weight: bold ;
  color:white ;
  font-size: 50px;
  
  }
  .head2{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 33px;
    
  }
 .head3{
    color: white;
  }
  .owl-stage-outer{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -50px;
 

    }
    p{
      color: black;
    }
    h3{
      color: black;
    }
  }

  .Slideritem1{overflow: hidden;
    width: 379px;
    &:hover{
      .under1{
        height: 150px;
        transition: 1s;
      }
      img{
        transform: scale(1.1,1.1);
        transition: 1s;
      }
  }
  img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
    
  }
  .under1{
    height: 65px;
    background: none;
  }
  .opa1{
    height: 65px;
    background: rgb(196, 194, 194);
    opacity: 0.5;
  }
  
}

/*-------------------------------------------*/
.page5{position: relative;
  margin-top: 70px;
  h3{
    font-family: 'Italianno', cursive; 
  font-weight: bold ;
  color:#4df9ff ;
  font-size: 58px;
}
h4{
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 33px;
}
p{
  width: 70%;
}

.p5pic{
  width: 100%;
  height: auto;
  margin-top: -260px;
  opacity: 0.4;
}
.comment{position: absolute;top:240px;
  left: 180px;
  h5{
    margin-top: 26px;
  }
  p{
    width: 200px;
  }
  .circle{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #4df9ff;
    
    img{
      margin-top: 30px;
    }
  }
}

.comment1{
  position: absolute;top:310px;
  left: 31%;

}
.comment2{
  position: absolute;top:210px;
  left: 50%;

}
.comment3{
  position: absolute;top:310px;
  left: 71%;

}

}

/*-------------------*/
.main{position: relative;
  width: 100%;
  background: #41ccd1;
  height: auto;
  display: flex;
  padding: 20px;
  padding-left: 44px;
  .cont1{margin: 50px;
    
    display: flex;
    .box1{
      width: 100px;
      height: 100px;
     border: 0px solid black;

     color: white;
     h1{
      margin-top: 9px;
      font-weight: bold;
     }
     p{
      font-size: 20px;
      line-height: 1.1;
     }
    }
    .box1{
      img{
        margin-top: 15px;
        margin-left: 30px;
      }
    }
  }
  
}
/*--------------------------*/
.main2{position: relative;
  margin-top: 70px;
.cont2{
  img{
    width: 100%;
    z-index: -3;


  }
  p{
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.8;
    margin-top: -53.5%;
    z-index: -2;
  }
  
}
.star{
  text-align: left;
  margin-left: 10px;
}
.comm2{
  text-align: left;
  margin-left: 10px;
  color: black;
  margin-top: -10px;
}
.nam1{
  text-align: left;
  margin-left: 10px;
  color: black;
  margin-top: -10px;
  font-weight: bold;
}
h3{margin-top: 2%;
  position: absolute;left: 43.5%;
  font-family: 'Italianno', cursive; 
font-weight: bold ;
color:#4df9ff ;
font-size: 58px;

}
h4{
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 38px;
  color: white;
  position: absolute;top: 15%;
  left: 42%;
}
.des2{
  color: white;
  position: absolute;top: 23%;left: 18%;
  width: 900px;
}
h5{
  color: black;
  margin-top: 20px;
  text-align: left;
  margin-left: 10px;
  font-size: 25px;
}
.owl-theme{position: absolute;
  margin-top: 20%;
  margin-left: 7px;
}
.item{
  color: white;
  z-index: 1;
  .rect{display: flex;
    border: 0px solid black;
    width: 427px;
    height: 217px;
    border-radius: 20px;
    background: white;
    
    .left2{ border: 0px solid black;
      width: 128px;
      height: 217px;
      img{width: 100px;
        height: 100px;
        margin-top: 55px;
        margin-left: 12px;
      }
    }
    .Right2{
      border: 0px solid black;
      width: 299px;
      height: 217px;

    }
  }
}
}
/*----------------------------*/
.cont3{
  display: flex;
  margin-left: 128px;
  
  .box3{margin-top: 63%;
    position: relative;
    border: 0px solid black;
    width: 538px;
    height: 1100px;
    margin-right: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 15px black ;
 
    &:hover{
      img{
        transform: scale(1.1,1.1);
      transition: 1s;
      }
      p{
        opacity: 0.5;
        transition: 1s;
      }
    }
    img{position: absolute;top: 0px;
      left: 0px;
      z-index: -1;
    
      

    }
    p{
      width: 100%;
      height: 100%;
      background: black;
      z-index: 1;
      opacity: 0;
    }
    h3{position: absolute; bottom: 14%;
      margin-left: 25.9%;
      font-family: 'Italianno', cursive; 
      font-weight: bold ;
      color:#4df9ff ;
      font-size: 58px;
    }
    .fifty{position: absolute;bottom: 14%;
      color: white;
      display: flex;
      margin-left: 38%;
      margin-bottom: -90px;
      .big1{
        font-size: 80px;
        font-weight: bold;
      }
      .small1{
        margin-top: 25px;
        font-size: 25px;
      }
      .lastone{
        text-align: center;
        margin-top: 95px;
        
        margin-left: -142px;
      }

    }

  }

  .right{background: #e0f6f7;
    .smallbox{background: white;
      width: 90%;
      height: 95.2%;
      margin: 27px;
      border: 0px solid black;
      border-radius: 20px;
      .smallestbox{position: absolute;left: 0; top: 0;
        width: 90%;
        height: 60px;
        margin: 27px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border: 0px solid black;
        background:#39b5b9;
        h4{text-align: center;
        font-size: 30px;
        color: white;
        margin: 7px;
        }
      }
      .frm{
        
        padding-top: 20%;
        label{
          font-weight: bold;
          margin: 5px;
        }
        .choode1{
          border: 0px solid black;
          width:70%;
          border-radius: 8px;
          background: #e0f6f7;
          text-align: center;
          margin-left: 15%;
        }
        input{
          width: 70%;
          height: 40px;
          border-radius: 10px;
          border: 0px;
          background: rgb(226, 224, 224);
        }
        .submit{
          width: 30%;
          background:#39b5b9 ;
          color: white;
        }
        .messag{
          border-radius: 4%;
        }
        .radiobtn{
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}
/*--------------------------------------------*/
.main4{
  background: #41ccd1;
  margin-top: 70px;
  padding-top: 30px;
  h3{
    font-family: 'Italianno', cursive; 
  font-weight: bold ;
  color:white ;
  font-size: 58px;
  }
  .cont4{display: inline;
    img{
      margin: 10px;
      width: 280px;
      height: auto;
      margin-bottom: 50px;
    }

  }
}
/*--------------------------------------------*/
.main6{display: flex;
  background: rgb(73, 73, 73);
  padding-top: 70px;
  padding-left: 70px;
  text-align: left;
  .box6{
    width: 280px;
    height:390px;
    margin:10px;
    border: 0px solid black;

    .con4{
      display: flex;
      margin-top: 10px;
      .bx{

        border: 0px solid black;
        width: 100px;
        height: 86px;
        img{
          border-radius: 50%;
          width: 77px;
          height:77px;
          margin-top: 3px;
        }
      }
      .r{ width: 202px;
        height: 86px;
        line-height:1.1;
        h6{
          color: white;
          margin-top: -10px;
        }

      }
    }
    input{
      border-radius: 5px;
      border: 0px;
    }
    .subs{
      width: 40%;
    }
    
    h4{margin-top: 30px;
      font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 33px;
  color: #4df9ff;
    }
    p{
      color: white;
    }
    .btn{
      background: #41ccd1;
      width: 50%;
    }
   

  }
  .second{
    
    
  p{
    img{    margin-top: -3px;
      width: 16px;
      
      right: 10px;
      margin-right: 10px;
      height: 16px;
      
     
    }
  }
 
.logos{margin-left: -5px;
  padding-right: 5px;
  img{
    width: 25px;
    height: 25px;
    
  }
}
    }
    }
    .copyright{
      width: 100%;
      height: 50px;
      background: white;
    padding-top: 20px;
    }
  
  
